* {
    padding: 0;
}
body{
    background:linear-gradient(to right, #e23871, #2438ac);
}
.button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 2px;
    cursor: pointer;
    background: #000102;
    border: none;
    border-radius: 5px;
    color: white;
}
.appel{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:yellow;
    
    

}
.textview {
    width: 206px;
    height: 25px;
    margin: 5px;
    font-size: 25px;
    color:#607d8b;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}